* {
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 20px;
}

.bg-dark {
    background-color: #1B2F13 !important;
}

.navbar-nav > li > .dropdown-menu { 
    background-color:#e8e8e8; 
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(235,247,227,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.admin-puoli {
    background-color: rgba(130, 197, 13, 0.884);
}