@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #d2d2d2;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    text-align: center;
    height:100vh;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
}

.bg-dark {
    background-color: #1B2F13 !important;
}

.navbar-nav > li > .dropdown-menu { 
    background-color:#e8e8e8; 
    }

footer,
header {
    background-color: #999999;
    color: #000;
}

footer {
    font-family: Arial;
    font-size: 1em;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
}

h4 {
    font-size: 1.2em;
}

.frontpageh1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    color: #fff;
    filter: drop-shadow(2px 2px 2px #000);
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #333;
}

/* a img:hover {
    filter: drop-shadow(2px 2px 2px black);
} */

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(235,247,227,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.card {
    margin: .5rem;
    background-color: rgba(200, 200, 200, 1);
}

.card:hover {
    background-color: rgb(255, 255, 255);
}

.imgprev {
    max-width: 250px;
    max-height: 250px;
}

.imgfront {
    max-width: 360px;
    max-height: 360px;
}

.imgcart {
    max-width: 180px;
    max-height: 180px;
}

.shoppingcart {
    max-width: 720px;
}

.cartadded {
    color: #E7D727;
}

.frontpagelogo {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    filter: drop-shadow(2px 2px 2px black);
}

.map-responsive{
    overflow:hidden;
    padding-bottom: 20%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#cart span {
    position: relative;
    top: -10px;
    font-size: 0.8em;
}

h4#fp {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

tr:nth-child(even) {
    background-color: #d8d8d8 !important;
}

tr:nth-child(odd) {
    background-color: #c8c8c8 !important;
}